[server]
address=0.0.0.0
port=6789
log_file=/var/log/git-webhooks-server.log

[github]
handle_events=push
verify=False
secret=

[gitee]
handle_events=push
verify=False
secret=

[gitlab]
handle_events=push
verify=False
secret=

[custom]
header_name=X-Custom-Header
header_value=Custom-Git-Hookshot
header_token=X-Custom-Token
header_event=X-Custom-Event
identifier_path=project.path_with_namespace
handle_events=push
verify=False
secret=

[sample/repository]
cwd=/path/to/your/repository
cmd=git fetch --all & git reset --hard origin/master & git pull
